{% extends 'problems/base.html' %}

{% block no_bar_content %}
    <div class="container">
        <div class="row">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input name="username" autofocus="" maxlength="254" required="" id="id_username" placeholder="login" type="text">
                </div>
                <div class="input-group">
                    <input name="password" required="" id="id_password" placeholder="password" type="password">
                </div>
                <button class="btn btn-default" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}