{% extends 'problems/base.html' %}

{% block title %}
    {{ block.super }} Task № {{ task.pk }}
{% endblock %}

{% block extra_nav_buttons_left %}
    <li><a href="/task/{{ task.pk|add:-1 }}">Prev</a></li>
    <li><a href="/task/{{ task.pk|add:1 }}">Next</a></li>
{% endblock %}

{% block left_panel %}
    <div id='sections' class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ sections.first }}<span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for section in sections %}
                    <li><a href="#">{{ section }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id='subsections' class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ subsections.first }}<span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for section in subsections %}
                    <li><a href="#">{{ section }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="grade_slider"></div>
{% endblock %}

{% block center_panel %}
    <div id="tasks_list_group">
        <div id="tasks_list" class="btn-group-vertical"></div>
        <button id="give_me_more" type="button" class="btn">Больше задач</button>
    </div>
{% endblock %}

{% block details_panel %}
    <div id="task_detail"></div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #grade_slider label {
            position: absolute;
            width: 20px;
            margin-top: 20px;
            margin-left: -10px;
            text-align: center;
        }
        #tasks_list_group {
            overflow: auto;
            max-height: 700px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/task_search_main.js' %}"></script>
{% endblock %}

