<div id="task_detail">
    {% load problems_extras %}
    {% for section in task.tasksection_set.all %}
        <h3>{{ section.get_name }}</h3>
        <p>{{ section.text|math }}</p>
        {% for image in section.image_set.all %}
            <figure>
                <img class="img-responsive" {{ image.tag_params }}/>
                <figcaption>Рис. {{ image.number }}</figcaption>
            </figure>
        {% endfor %}
    {% endfor %}

    <h4><b>Раздел</b></h4>
    <p>{{ task.section }}</p>

    <h4><b>Подраздел</b></h4>
    <p>{{ task.subsection }}</p>

    <h4><b>Классы</b></h4>
    <ul>
        {% for grade in task.grades.all %}
            <li>{{ grade }}</li>
        {% endfor %}
    </ul>
</div>