{% extends 'problems/pages/base.html' %}

{% block left_panel %}
    <div id='sections' class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ sections.first }}<span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for section in sections %}
                    <li><a href="#">{{ section }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id='subsections' class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ subsections.first }}<span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for section in subsections %}
                    <li><a href="#">{{ section }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="grade-slider"></div>
{% endblock %}

{% block center_panel %}
    {% include 'problems/elements/tasks_list_panel.html' %}
{% endblock %}

{% block details_panel %}
    {% include 'problems/elements/task_detail_default_panel.html' %}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/grade_slider.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'js/task_search_main.bundle.js' %}"></script>
{% endblock %}

